<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110683754-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110683754-1');
    </script>

    <meta charset='utf-8'>
    <title>{{ page.title | default: site.github.repository_name }} - @417_72ki</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/template.css" media="screen"> 
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen"> 

    <meta name="description" content="{{ page.description | default: '' }}" />
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@417_72ki" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title | default: site.github.repository_name }}" />
    <meta name="twitter:description" content="{{ page.description | default: '' }}" />
    <meta name="twitter:image" content="{{ page.image }}" />
    
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title | default: site.github.repository_name }}"/>
    <meta property="og:description" content="{{ page.description | default: '' }}" />
    <meta property="og:image" content="{{ page.image | default: '' }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="@417_72ki"/>
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">{{ page.title | default: site.github.repository_name }}</h1>
        </header>
    </div>
    
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright"></a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    
  </body>
</html>
